<form clrForm>
  <span class="clr-sr-only"> Add formateur </span>
  <clr-input-container>
    <label>First name formateur</label>
    <input
      clrInput
      type="text"
      [(ngModel)]="firstName"
      name="firstName"
      required
    />
    <clr-control-error> first name required </clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label>Middle name (Optional)</label>
    <input clrInput type="text" [(ngModel)]="middleName" name="middleName" />
  </clr-input-container>
  <clr-input-container>
    <label>Last name</label>
    <input
      clrInput
      type="text"
      [(ngModel)]="lastName"
      name="lastName"
      required
    />
    <clr-control-error>
      We need your last name for legal compliance
    </clr-control-error>
  </clr-input-container>
</form>
