<div class="content-container">
  <clr-vertical-nav>
    <a clrVerticalNavLink routerLink="/user/userList" routerLinkActive="active"
      >List</a
    >
    <a clrVerticalNavLink routerLink="/user/userAdd">Add user</a>
    <a
      clrVerticalNavLink
      routerLink="/formateur/addFormateur"
      routerLinkActive="active"
      >Add Formateur</a
    >
    <a
      clrVerticalNavLink
      routerLink="/formateur/deleteFormateur"
      routerLinkActive="active"
      >Delete Formateur</a
    >
    <a
      clrVerticalNavLink
      routerLink="/formateur/updateFormateur"
      routerLinkActive="active"
      >Update Formateur</a
    >

    <a clrVerticalNavLink routerLink="/credit" routerLinkActive="active"
      >Credit</a
    >
  </clr-vertical-nav>
</div>
