<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<header class="header-6">
  <div class="header-nav">
    <span class="material-symbols-outlined" style="padding: 15px">
      home_app_logo
    </span>
    <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
    <a
      routerLink="/register/login"
      routerLinkActive="active"
      class="nav-link nav-text"
      >Account Register</a
    >
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
      <span class="material-symbols-outlined"> settings </span>
    </a>
  </div>
</header>
